.bg-img1 {
  height: 70vh;
  background-color: #000;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(img/background1.jpg);
}
.bg-img2 {
  height: 70vh;
  background-color: #000;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(img/background2.jpg);
}
.bg-img3 {
  height: 70vh;
  background-color: #000;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(img/background3.jpg);
}
